div.nav{
    margin: 0 40%;
    color: red;
}

.Nav-header{
    margin: 0 44%;
    color: yellowgreen;
}

a{
    color: black;
}

.anasayfa-list{
    margin: 0 40%;
}

.hakkimizda-main{
    margin: 0 40%;
}